body{
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: #4B9EBF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    width: auto;
    height: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#FCFCFC;
}

.card > h1{
    font-weight: 600;
    font-family: sans-serif;
    color: #515850;
    margin-top: -20px;
}

#escreva-aqui > input { 
    width: 350px;
    padding: 10px;
    border: solid 1px #769AA8;
    outline: none;
    margin-bottom: 10px;
}

#escreva-aqui > input::placeholder{
    font-size: large;
    padding: 90px;
}

#btn{
    width: 40px;
    padding: 11px;
    border: none;
    color: white;
    background-color: #4B9EBF;   
}

.resultado{
    width:410px;
    background-color: #F0F5F8;
    padding: 5px;
}

.resultado-dog-food{
     width:410px;
}

.lapis-1{
    color: #61a8c4;
    border: none;
    margin-left: 135px;
}

.lapis-2{
    color: #61a8c4;
    border: none;
    margin-left: 249px;
     background-color: transparent;
}

.lapis-3{
    color: #61a8c4;
    border: none;
    margin-left: 236px;
     background-color: transparent;
}

.lapis-4{
    color: #61a8c4;
    border: none;
    margin-left: 180px;
     background-color: transparent;
}

.lapis-5{
    color: #61a8c4;
    border: none;
    margin-left: 279px;
    background-color: transparent;
}

.bt-x{
    background-color: transparent;
    border: none;
}